.theSplit {
  height: 87vh;
  overflow: hidden;
}

.mapBox {
  height: 100%;
}

.theMap {
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.mapEvents {
  width: 25vw;
  height: 100vh;
  overflow:hidden;
  overflow-y: auto;
}

.eventBox2346 {
  height: 100%;
  max-width: 20.5vw;
  position: center;
}
