.theSplit {
  height: 830px;
  overflow: hidden;
}
.theMap {
  height: 830px;
  width: 100%;
  overflow: hidden;
}

.mapEvents {
  width: 25vw;
  height: 830px;
  overflow: hidden;
  overflow-y: scroll;
}
