$base-color: #FBF5F3;
$primary-color: #2E8C65;
$secondary-color: #E2BD5D;
$tertiary-color: #02010A;

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import '~grommet/scss/vanilla/index';
@import './chatStyles';
@import './events';
@import './profile';
